In [25]:
path = '/Users/brianhudnall/Programming/PycharmProjects/pydata/PyData/iris.csv'

In [26]:
import pandas as pd
from pandas import DataFrame, Series

In [27]:
iris_data = pd.read_table(path, sep = ",")

In [28]:
iris_data.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [29]:
type(iris_data)

pandas.core.frame.DataFrame

In [30]:
iris_header = ['index', 'sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [31]:
iris_data.columns = iris_header

In [32]:
iris_data.head()

   index  sepal_length  sepal_width  petal_length  petal_width species
0      1           5.1          3.5           1.4          0.2  setosa
1      2           4.9          3.0           1.4          0.2  setosa
2      3           4.7          3.2           1.3          0.2  setosa
3      4           4.6          3.1           1.5          0.2  setosa
4      5           5.0          3.6           1.4          0.2  setosa

In [33]:
mean_species_length = iris_data.pivot_table('sepal_length', index='species', aggfunc='mean')

In [34]:
mean_species_length

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal_length, dtype: float64

In [35]:
iris_data.tail()

     index  sepal_length  sepal_width  petal_length  petal_width    species
145    146           6.7          3.0           5.2          2.3  virginica
146    147           6.3          2.5           5.0          1.9  virginica
147    148           6.5          3.0           5.2          2.0  virginica
148    149           6.2          3.4           5.4          2.3  virginica
149    150           5.9          3.0           5.1          1.8  virginica

In [36]:
iris_data['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [37]:
## filter rows down to only setosa rows
iris_data_setosa = iris_data[iris_data.species == 'setosa']

In [38]:
iris_data_setosa.head()

   index  sepal_length  sepal_width  petal_length  petal_width species
0      1           5.1          3.5           1.4          0.2  setosa
1      2           4.9          3.0           1.4          0.2  setosa
2      3           4.7          3.2           1.3          0.2  setosa
3      4           4.6          3.1           1.5          0.2  setosa
4      5           5.0          3.6           1.4          0.2  setosa

In [39]:
iris_data_setosa.species.unique()

array(['setosa'], dtype=object)